apiVersion: v1
kind: Service
metadata:
  name: fcg-payments-svc
  namespace: default
  labels:
    app: fcg-payments
spec:
  type: LoadBalancer
  selector:
    app: fcg-payments
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
